{% import "@components/taildmin_table.html.twig" as table %}
{% extends "admin\\pages\\admin_orders.html.twig" %}

{% block body %}

{# buttons row #}
<div class="btn-row">
    <a href="#" class="btn" @click.prevent="orderForm.submit()">
        {% if editMode %}
        <svg xmlns="http://www.w3.org/2000/svg" height="1em"
            viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
                d="M48 96V416c0 8.8 7.2 16 16 16H384c8.8 0 16-7.2 16-16V170.5c0-4.2-1.7-8.3-4.7-11.3l33.9-33.9c12 12 18.7 28.3 18.7 45.3V416c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V96C0 60.7 28.7 32 64 32H309.5c17 0 33.3 6.7 45.3 18.7l74.5 74.5-33.9 33.9L320.8 84.7c-.3-.3-.5-.5-.8-.8V184c0 13.3-10.7 24-24 24H104c-13.3 0-24-10.7-24-24V80H64c-8.8 0-16 7.2-16 16zm80-16v80H272V80H128zm32 240a64 64 0 1 1 128 0 64 64 0 1 1 -128 0z" />
        </svg>
        Uložiť objednávku
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" height="1em"
            viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
        </svg>
        Vytvoriť a pridať produkt
        {% endif %}
    </a>

    {% if editMode %}
    {# pridat polozku #}
    <a href="{{ path('admin_orders_item_form', {orderPk: order.pk}) }}" class="btn">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em"
            viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
            <path
                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM232 344V280H168c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V168c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H280v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
        </svg>
        Pridať položku
    </a>

    {# spracovat stav #}
    {% if order.status < 4 %}
    <a href="{{ path('admin_orders_set_status') }}" id="order-form-set-status-btn" class="btn relative"
    x-data="{ statesDropdownOpen: false }" @click.outside="statesDropdownOpen = false" @click.prevent="orderForm.manageOrderStatus({{ order.nextstatus.pk.value }})" title="Potvrdiť stav - {{ order.nextstatus.title|upper }}">
        <svg xmlns="http://www.w3.org/2000/svg" height="1em"
            viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path
                d="M52.5 440.6c-9.5 7.9-22.8 9.7-34.1 4.4S0 428.4 0 416V96C0 83.6 7.2 72.3 18.4 67s24.5-3.6 34.1 4.4L224 214.3V256v41.7L52.5 440.6zM256 352V256 128 96c0-12.4 7.2-23.7 18.4-29s24.5-3.6 34.1 4.4l192 160c7.3 6.1 11.5 15.1 11.5 24.6s-4.2 18.5-11.5 24.6l-192 160c-9.5 7.9-22.8 9.7-34.1 4.4s-18.4-16.6-18.4-29V352z" />
        </svg>

        {{ order.nextstatus.title|upper }}
        
        {# <svg :class="statesDropdownOpen && 'rotate-180'" @click.prevent="statesDropdownOpen = ! statesDropdownOpen" class="hidden fill-current sm:block" width="12" height="8"
            viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M0.410765 0.910734C0.736202 0.585297 1.26384 0.585297 1.58928 0.910734L6.00002 5.32148L10.4108 0.910734C10.7362 0.585297 11.2638 0.585297 11.5893 0.910734C11.9147 1.23617 11.9147 1.76381 11.5893 2.08924L6.58928 7.08924C6.26384 7.41468 5.7362 7.41468 5.41077 7.08924L0.410765 2.08924C0.0853277 1.76381 0.0853277 1.23617 0.410765 0.910734Z"
                fill="" />
        </svg> #}

        {# todo - dorobit dropdown na spracovanie inych statvov #}
        <!-- states dropdown Start -->
        {# <div x-show="statesDropdownOpen"
            class="absolute right-0 mt-4 flex w-62.5 flex-col rounded-sm border border-stroke bg-white shadow-default">
            <ul class="flex flex-col gap-5 border-b border-stroke px-6 py-7.5">
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </div> #}
    </a>
    {% endif %}
    {% endif %}
</div>

{# formular #}

<form action="{{ path('admin_orders_save') }}" data-redirect="{{ path('admin_orders_index') }}"
    data-item-form-url="{{ path('admin_orders_item_form') }}" id="order-form" class="form-wrapper"
    data-edit-mode="{{ editMode ? 1 : 0 }}" @submit.prevent="orderForm.submit()">
    <input type="hidden" name="pk" value="{{ order.pk }}" />

    <div class="md:form-horizontal-row">        
        {# zakaznik #}
        <div class="form-row">
            <label class="mb-3 block font-medium text-sm text-black">
                Zákazník
            </label>
            <div class="relative z-20 bg-white">
                <span class="absolute top-1/2 left-4 z-30 -translate-y-1/2">
                    <svg class="fill-current" width="18" height="18" viewBox="0 0 18 18" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M9.0002 7.79065C11.0814 7.79065 12.7689 6.1594 12.7689 4.1344C12.7689 2.1094 11.0814 0.478149 9.0002 0.478149C6.91895 0.478149 5.23145 2.1094 5.23145 4.1344C5.23145 6.1594 6.91895 7.79065 9.0002 7.79065ZM9.0002 1.7719C10.3783 1.7719 11.5033 2.84065 11.5033 4.16252C11.5033 5.4844 10.3783 6.55315 9.0002 6.55315C7.62207 6.55315 6.49707 5.4844 6.49707 4.16252C6.49707 2.84065 7.62207 1.7719 9.0002 1.7719Z"
                            fill="" />
                        <path
                            d="M10.8283 9.05627H7.17207C4.16269 9.05627 1.71582 11.5313 1.71582 14.5406V16.875C1.71582 17.2125 1.99707 17.5219 2.3627 17.5219C2.72832 17.5219 3.00957 17.2407 3.00957 16.875V14.5406C3.00957 12.2344 4.89394 10.3219 7.22832 10.3219H10.8564C13.1627 10.3219 15.0752 12.2063 15.0752 14.5406V16.875C15.0752 17.2125 15.3564 17.5219 15.7221 17.5219C16.0877 17.5219 16.3689 17.2407 16.3689 16.875V14.5406C16.2846 11.5313 13.8377 9.05627 10.8283 9.05627Z"
                            fill="" />
                    </svg>
                </span>
                <select name="customerPk"
                    class="relative z-20 w-full appearance-none rounded border border-stroke bg-transparent py-3 px-12 outline-none transition focus:border-primary active:border-primary">
                    {% set selCustomerPk = order.customerPk %}
                    <option value="">Vyberte zákazníka</option>
                    {% for customer in customers %}
                    <option value="{{ customer.pk }}" {{ customer.pk==selCustomerPk ? "selected" }}>{{ customer.fullName }}
                    </option>
                    {% endfor %}
                </select>
                <span class="absolute top-1/2 right-4 z-10 -translate-y-1/2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.8">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.7071 15.7071C12.3166 16.0976 11.6834 16.0976 11.2929 15.7071L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z"
                                fill="#637381"></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>

        {# admin #}
        <div class="form-row">
            <label class="mb-3 block font-medium text-sm text-black">
                Admin
            </label>
            <div class="relative z-20 bg-white">
                <span class="absolute top-1/2 left-4 z-30 -translate-y-1/2">
                    <svg xmlns="http://www.w3.org/2000/svg" height="16" width="18"
                        viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
                        <path
                            d="M246.9 14.1C234 15.2 224 26 224 39c0 13.8 11.2 25 25 25H400c8.8 0 16-7.2 16-16V17.4C416 8 408 .7 398.7 1.4L246.9 14.1zM240 112c0 44.2 35.8 80 80 80s80-35.8 80-80c0-5.5-.6-10.8-1.6-16H241.6c-1 5.2-1.6 10.5-1.6 16zM72 224c-22.1 0-40 17.9-40 40s17.9 40 40 40H224v89.4L386.8 230.5c-13.3-4.3-27.3-6.5-41.6-6.5H240 72zm345.7 20.9L246.6 416H416V369.7l53.6 90.6c11.2 19 35.8 25.3 54.8 14.1s25.3-35.8 14.1-54.8L462.3 290.8c-11.2-18.9-26.6-34.5-44.6-45.9zM224 448v32c0 17.7 14.3 32 32 32H384c17.7 0 32-14.3 32-32V448H224z" />
                    </svg>
                </span>
                <select name="userPk"
                    class="relative z-20 w-full appearance-none rounded-lg border border-stroke bg-transparent py-3 px-12 outline-none transition focus:border-primary active:border-primary">
                    {% set loggedUserPk = user.pk %}
                    {% for user in users %}
                    <option value="{{ user.pk }}" {{ user.pk==loggedUserPk ? "selected" }}>{{ user.username }}</option>
                    {% endfor %}
                </select>
                <span class="absolute top-1/2 right-4 z-10 -translate-y-1/2">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.8">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M5.29289 8.29289C5.68342 7.90237 6.31658 7.90237 6.70711 8.29289L12 13.5858L17.2929 8.29289C17.6834 7.90237 18.3166 7.90237 18.7071 8.29289C19.0976 8.68342 19.0976 9.31658 18.7071 9.70711L12.7071 15.7071C12.3166 16.0976 11.6834 16.0976 11.2929 15.7071L5.29289 9.70711C4.90237 9.31658 4.90237 8.68342 5.29289 8.29289Z"
                                fill="#637381"></path>
                        </g>
                    </svg>
                </span>
            </div>
        </div>
    </div>

    {# stav #}
    {% if editMode %}
    <div class="sm:form-horizontal-row">        
        <div class="form-row">
            <label>Aktuálny stav</label>
            <input type="text" value="{{ order.actualstatus.title }}" disabled="">
        </div>

        <div class="form-row">
            <label class="empty">Stav</label>
            <input type="text" value="{{ order.actualstatusdate|date(" d.m.Y") }}" disabled="">
        </div>
    </div>
    {% endif %}

    {# zaplatena suna #}
    <div class="sm:form-horizontal-row">        
        {% if editMode %}
        <div class="form-row">
            <label>Zaplatená suma</label>
            <input type="text" name="realPrice" x-mask:dynamic="$money($input, '.', '', 2)"
                placeholder="Zadajte zaplatenú sumu za objednávku" value="{{ order.realprice }}">
        </div>
        {% endif %}

        {# datum vytvorenia #}
        <div class="form-row">
            <label>Dátum vytvorenia</label>
            <input name="created" type="date" value="{{ order.created|date("Y-m-d") }}">
        </div>
    </div>


    {# polozky #}
    {% if order.orderitems|length > 0 %}
    <div class="form-row">
        <label>Položky</label>
        <div id="table-order-items-wrapper" class="table-wrapper" data-form-url="{{ path('admin_orders_item_form', {orderPk: order.pk}) }}" data-delete-url="{{ path('admin_orders_item_delete') }}">
            <table id="table-order-items">
                <thead>
                    <tr class="text-left">
                        <th class="min-w-[220px]">
                            Produkt
                        </th>

                        <th class="min-w-[100px]">
                            Kusy
                        </th>

                        <th class="min-w-[120px]">
                            Cena/ks
                        </th>

                        <th class="min-w-[120px]">
                            Poznámka
                        </th>

                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    {% for item in order.orderitems %}

                    <tr data-pk="{{ item.pk }}" x-data="{ orderPk: {{ order.pk }}, itemPk: {{ item.pk }} }">
                        {# produkt #}
                        <td>
                            <h5 class="font-bold">{{ item.product.title }}</h5>
                            <small>{{ item.product.subtitle }}</small>
                        </td>

                        {# kusy #}
                        <td>
                            <p>{{ item.quantity }} ks</p>
                        </td>

                        {# cena/ks #}
                        <td>
                            <p>{{ item.price|number_format(2, ',', ' ') }} €</p>
                        </td>

                        {# poznamka #}
                        <td>
                            <p>{{ item.note }}</p>
                        </td>


                        {# actions #}
                        <td>
                            <div class="flex items-center space-x-3.5">
                                {# show button #}
                                {{ table.btn_edit() }}

                                {# delete button #}
                                {{ table.btn_delete() }}
                            </div>
                        </td>
                    </tr>

                    {% endfor %}

                    {# sumar #}
                    <tr class="bg-gray-2">
                        <td>
                            <h5 class="font-bold">spolu</h5>
                        </td>

                        <td>
                            <p>{{ order.productsquantity }} ks</p>
                        </td>

                        <td>
                            <p>{{ order.totalprice|number_format(2, ',', ' ') }} €</p>
                        </td>

                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

    {# poznamka #}
    <div class="form-row last">
        <label>Poznámka</label>
        <textarea name="note" placeholder="Zadajte poznámku objednávku">{{ order.note }}</textarea>
    </div>

    {# aby sa formular dal submitnut eneterom #}
    <input type="submit" hidden />
</form>
{% endblock body %}