{% import "@components/taildmin_table.html.twig" as table %}

{# tabulka objednávok #}
<table id="table-orders">
    <form>
        <input type="hidden" name="orderColumn" value="{{ params.orderColumn }}" />
        <input type="hidden" name="orderDirection" value="{{ params.orderDirection }}" />

        <thead>
            <tr class="text-left">
                {# id #}
                <th class="min-w-[50px] xl:pl-11">
                    #
                </th>
                <th class="min-w-[220px]">
                    Zákazník
                </th>
                <th class="min-w-[150px]">
                    Stav
                </th>
                <th class="min-w-[100px]">
                    Zaplatená suma
                </th>
                <th class="min-w-[150px]">
                    Admin
                </th>
                <th class="min-w-[150px]">
                    Poznámka
                </th>

                <th>
                </th>
            </tr>
        </thead>

        <tbody>
            {% for order in orders %}
            <tr data-pk="{{ order.pk }}">
                {# id #}
                <td>
                    {{ order.pk }}
                </td>

                {# zakaznik #}
                <td>
                    <h5 class="font-medium">{{ order.customer.fullName }}</h5>
                </td>

                {# stav #}
                <td>
                    <p>{{ order.actualstatus.title }}</p>
                </td>

                {# cena #}
                <td>
                    <p>{{ order.realprice|number_format(2, ',', ' ') }} €</p>
                </td>

                {# admin #}
                <td>
                    <p>{{ order.user.username }}</p>
                </td>

                {# poznamka #}
                <td>
                    <p>{{ order.note }}</p>
                </td>

                {# actions #}
                <td>
                    <div class="flex items-center space-x-3.5">
                        {# show button #}
                        {{ table.btn_edit() }}

                        {# delete button #}
                        {{ table.btn_delete() }}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </form>
</table>